body{
	background-color:rgb(27, 85, 162) ;
	border:0;
	margin:0;
}





#options{
	margin-top:5vh;

	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 10vh;



}

#options button{
	width:10vw;
	height:3vw;

	background-color: rgb(22, 22, 22);
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	color:white;
}

#options button:hover{
	background-color: rgb(0, 0, 0);
	cursor:pointer;
}



.sliders{
	color:rgb(0, 0, 0);
	font-weight: 900;
	font-size:24px;

	padding-bottom:10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sliders input{
	margin-left:10px;
	width:10vw;
}

